package templates

templ Footer() {
	<footer class="w-full text-white py-2 text-center">
		©	Powered by <a href="https://github.com/devmegablaster/jatt" class="underline underline-offset-2">Jatt</a>
	</footer>
}
