package templates

import "github.com/devmegablaster/jatt/pkg/reader"

templ Listing(listing []reader.ListingItem) {
	<div class="listing-container">
		for _, item := range listing {
			@ListingItem(item)
		}
	</div>
}

templ ListingItem(item reader.ListingItem) {
	<a href={ templ.SafeURL(item.URL) } class="listing-item-container">
		<p>{ item.Name }</p>
		<p>{ item.Date } </p>
	</a>
}
