package templates

import "github.com/devmegablaster/jatt/internal/config"

templ Nav(navCfg config.NavConfig) {
	<div class="top-container">
		<a href="/" class="nav-title">
			{ navCfg.Title }
		</a>
		<div class="nav-container">
			for _, navItem := range navCfg.NavItems {
				@NavButton(navItem)
			}
		</div>
	</div>
}

templ NavButton(navItem config.NavItem) {
	<a href={ templ.URL(navItem.Url) }>
		{ navItem.Label }
	</a>
}
