body {
  @apply bg-white text-black dark:bg-[#1D1E20] dark:text-white sm:w-8/12 w-11/12 mx-auto h-screen flex flex-col font-sans my-0;
}

a {
  @apply no-underline;
}

h1 {
  @apply sm:text-4xl text-3xl;
}

h2 {
  @apply sm:text-3xl text-2xl;
}

h3 {
  @apply sm:text-2xl text-xl;
}

h4 {
  @apply sm:text-xl text-lg;
}

h5 {
  @apply sm:text-lg text-base;
}

p {
  @apply sm:text-base text-sm;
}

svg {
  @apply text-black dark:text-white;
}

ol {
  @apply list-decimal list-outside pl-2 m-0;
}

ol li {
  @apply list-decimal list-outside pl-1 m-0;
}

ol li:not(:last-child) {
  @apply mb-2;
}

ol p {
  @apply m-0 mb-2;
}

ul {
  @apply list-disc list-outside pl-2 m-0;
}

ul li {
  @apply list-disc list-outside pl-1 m-0;
}

ul li:not(:last-child) {
  @apply mb-2;
}

ul p {
  @apply m-0 mb-2;
}

ol ol,
ol ul,
ul ol,
ul ul {
  @apply mt-2;
}

figure {
  @apply flex flex-col items-center justify-center w-full mt-8 mb-4 mx-0;
}

figcaption {
  @apply text-sm text-gray-500 mt-2;
}

figure img {
  @apply max-w-[75%] mx-auto rounded-lg shadow-xl;
}

hr {
  @apply border-t border-gray-500 my-4 w-full;
}

.active-nav {
  @apply underline underline-offset-2;
}

.hljs {
  background-color: #2E2E33 !important;
  @apply block overflow-x-auto p-2 rounded-md;
}

.top-container {
  @apply flex sm:flex-row flex-col justify-between sm:items-center items-start pt-2 pb-4;
}

.nav-title-container {
  @apply flex items-center sm:space-x-3 space-x-2;
}

.theme-changer {
  @apply h-6 w-6 cursor-pointer flex items-center justify-center;
}

.nav-title {
  @apply dark:text-white text-black sm:text-2xl text-xl font-bold;
}

.nav-container {
  @apply flex justify-center items-center sm:space-x-8 space-x-4 py-3 sm:px-1;
}

.nav-container a {
  @apply dark:text-white text-black text-base hover:underline underline-offset-2;
}

.post-matter {
  @apply sm:w-8/12 w-11/12 mx-auto flex flex-col space-y-2 mt-4
}

.post-matter h1 {
  @apply sm:text-3xl text-2xl m-0;
}

.post-matter p {
  @apply m-0;
}

.post-seperator {
  margin-top: 25px !important;
  @apply w-full h-0.5 bg-gray-700 dark:bg-gray-500;
}

.tags-container {
  @apply flex space-x-2 items-center;
}

.tags-container-listing {
  @apply flex space-x-2 items-center sm:absolute sm:top-4 sm:right-4;
}

.tag {
  @apply dark:bg-neutral-600 bg-gray-300 px-2 py-1 rounded-md dark:text-white text-black sm:text-sm text-xs;
}

footer {
  @apply w-full dark:text-white text-black py-4 text-center sm:text-base text-sm;
}

footer a {
  @apply underline underline-offset-2 dark:text-white text-black sm:text-base text-sm;
}

a:visted {
  @apply underline underline-offset-2 dark:text-white text-black;
}

.content-raw a {
  @apply underline underline-offset-2 dark:text-white text-black;
}

.content-raw a:visted {
  @apply underline underline-offset-2  dark:text-white text-black;
}

.content-raw {
  @apply sm:w-8/12 w-11/12 mx-auto flex-grow;
}

.home-container {
  @apply flex flex-col items-center justify-center space-y-4 my-auto text-center flex-grow;
}

.home-image {
  @apply rounded-full sm:w-32 sm:h-32 h-24 w-24;
}

.name-description-container {
  @apply flex flex-col items-center space-y-2;
}

.home-name {
  @apply sm:text-4xl text-3xl font-bold dark:text-white text-black m-0;
}

.home-description {
  @apply text-lg dark:text-white text-black m-0;
}

.home-social-container {
  @apply flex space-x-4;
}

.home-social-container a {
  @apply sm:h-6 sm:w-6 h-5 w-5;
}

.home-button-container {
  @apply flex space-x-6 pt-4;
}

.home-button-container a {
  @apply dark:bg-[#414244] bg-gray-200 px-4 py-2 rounded-md dark:text-white text-black;
}

.listing-container {
  @apply flex flex-col space-y-4 flex-grow sm:w-8/12 w-11/12 mx-auto;
}

.listing-container-header {
  @apply flex items-center space-x-3;
}

.listing-item-container {
  @apply w-auto dark:bg-[#2E2E33] bg-gray-200 rounded-md px-6 py-4 flex flex-col dark:text-white text-black space-y-1 relative;
}

.listing-item-container h3 {
  @apply sm:text-2xl text-xl font-bold m-0;
}

.listing-item-container p {
  @apply text-sm text-gray-500 m-0;
}

#discord-status {
  @apply flex items-center justify-center w-4 h-4 transition-all overflow-hidden;
}

#discord-status:hover {
  @apply h-7;
}

#discord-status-text {
  transform: translateY(1rem);
  @apply whitespace-nowrap w-fit p-2;
}

#discord-status:hover #discord-status-text {
  transform: translateY(0);
  @apply text-white;
}

blockquote {
  @apply p-0 w-full m-0
}

.callout {
  @apply w-full border rounded-lg p-4 my-4 shadow-sm text-gray-800 bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-100 flex flex-col;
}

.callout > summary {
  @apply cursor-pointer font-bold mb-2 flex items-center;
}

.callout > p {
  @apply m-0 p-0;
}

[data-callout="note"] {
  @apply border-blue-500 bg-blue-50 text-blue-800 dark:bg-blue-900 dark:border-blue-400 dark:text-blue-200;
}

[data-callout="warning"] {
  @apply border-yellow-500 bg-yellow-50 text-yellow-800 dark:bg-yellow-900 dark:border-yellow-400 dark:text-yellow-200;
}

[data-callout="info"] {
  @apply border-cyan-500 bg-cyan-50 text-cyan-800 dark:bg-cyan-900 dark:border-cyan-400 dark:text-cyan-200;
}

[data-callout="success"] {
  @apply border-green-500 bg-green-50 text-green-800 dark:bg-green-900 dark:border-green-400 dark:text-green-200;
}
