body {
  @apply bg-[#1D1E20] text-white sm:w-8/12 w-11/12 mx-auto h-[98vh] flex flex-col font-sans;
}

a {
  @apply no-underline;
}

h1 {
  @apply sm:text-4xl text-3xl;
}

h2 {
  @apply sm:text-3xl text-2xl;
}

h3 {
  @apply sm:text-2xl text-xl;
}

h4 {
  @apply sm:text-xl text-lg;
}

h5 {
  @apply sm:text-lg text-base;
}

p {
  @apply sm:text-base text-sm;
}

ol {
  @apply list-decimal list-outside pl-4 m-0;
}

ol li {
  @apply list-decimal list-outside pl-4 m-0;
}

ol li:not(:last-child) {
  @apply mb-2;
}

ul {
  @apply list-disc list-outside pl-4 m-0;
}

ul li {
  @apply list-disc list-outside pl-4 m-0;
}

ul li:not(:last-child) {
  @apply mb-2;
}

figure {
  @apply flex flex-col items-center justify-center w-full my-4 mx-0;
}

figcaption {
  @apply text-sm text-gray-500 mt-2;
}

figure img {
  @apply max-w-[75%] mx-auto;
}

.hljs {
  background-color: #2E2E33 !important;
  @apply block overflow-x-auto p-2 rounded-md;
}

.top-container {
  @apply flex sm:flex-row flex-col justify-between sm:items-center items-start pt-2 pb-4;
}

.nav-title {
  @apply text-white sm:text-2xl text-xl font-bold;
}

.nav-container {
  @apply flex justify-center items-center sm:space-x-8 space-x-4 py-3 sm:px-1;
}

.nav-container a {
  @apply text-white text-base hover:underline underline-offset-2;
}

footer {
  @apply w-full text-white py-8 text-center;
}

footer a {
  @apply underline underline-offset-2 text-white;
}

a:visted {
  @apply underline underline-offset-2 text-white;
}

.content-raw a {
  @apply underline underline-offset-2 text-white;
}

.content-raw a:visted {
  @apply underline underline-offset-2 text-white;
}

.content-raw {
  @apply sm:w-8/12 w-11/12 mx-auto flex-grow;
}

.home-container {
  @apply flex flex-col items-center justify-center space-y-4 my-auto text-center flex-grow;
}

.home-image {
  @apply rounded-full sm:w-32 sm:h-32 h-24 w-24;
}

.name-description-container {
  @apply flex flex-col items-center space-y-2;
}

.home-name {
  @apply sm:text-4xl text-3xl font-bold text-white m-0;
}

.home-description {
  @apply text-lg text-white m-0;
}

.home-social-container {
  @apply flex space-x-4;
}

.home-social-container a {
  @apply text-blue-500 hover:text-blue-700 sm:h-6 sm:w-6 h-5 w-5;
}

.home-button-container {
  @apply flex space-x-6 pt-4;
}

.home-button-container a {
  @apply bg-[#414244] px-4 py-2 rounded-md text-white;
}

.listing-container {
  @apply flex flex-col space-y-4 flex-grow sm:w-8/12 w-11/12 mx-auto;
}

.listing-item-container {
  @apply w-full bg-[#2E2E33] rounded-md px-6 py-4 flex flex-col text-white space-y-1;
}

.listing-item-container h3 {
  @apply text-2xl font-bold m-0;
}

.listing-item-container p {
  @apply text-sm text-gray-500 m-0;
}

#discord-status {
  @apply flex items-center justify-center w-4 h-4 transition-all overflow-hidden;
}

#discord-status:hover {
  @apply h-7;
}

#discord-status-text {
  transform: translateY(1rem);
  @apply whitespace-nowrap w-fit p-2;
}

#discord-status:hover #discord-status-text {
  transform: translateY(0);
  @apply text-white;
}

